.Footer {
    margin-top: 2%;
    background-color: #f2f2f2;
    width: 100%;
    height: 200px;
    padding: 4rem 0;
}

.socials-bar {
    margin-bottom: 20px;
}

.socials-bar>a {
    margin-right: 5px;
    opacity: 0.8;
}

.socials-bar>a:hover {
    opacity: 1;
}