.navbar {
    padding: 0px 10%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand>img {
    height: 80px;
}

.navbar-brand>p {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-family: cursive;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    align-items: baseline;
}

.navbar-nav>.nav-item {
    letter-spacing: 1px;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.nav-item>a {
    text-decoration: none;
    margin-right: 15px;
    color: #cccccc;
}

.nav-item>a:hover,
.nav-item>.active {
    color: #000000;
}